.card-dino{
background-color: rgb(205, 255, 255);
width: 300px;
padding: 10px;
border-radius: 10px;
box-shadow: 0 0 10px #000;

}
#painel-dinos{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
flex-wrap: wrap; 
}
#form{
background-color: chocolate;
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

.container-inputs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}